:host {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.sftp-tab {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    flex-direction: column;
}
